---
import { AstroSeo } from "@astrolib/seo";
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/global/Navigation.astro";
import Footer from "../../components/global/Footer.astro";

export async function getStaticPaths() {
  const logs = await getCollection("devlog");
  return [...logs].map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"devlog">;

const post = Astro.props;
const { Content } = await post.render();
---

<AstroSeo
  title={post.data.title}
  description={post.data.description}
  canonical={`http://usetrak.com/devlog/${post.slug}`}
  openGraph={{
    url: `http://usetrak.com/devlog/${post.slug}`,
    title: post.data.title,
    description: post.data.description,
    images: [
      {
        url: "http://usetrak.com/opengraph/social-og.jpeg",
        width: 1200,
        height: 630,
        alt: "trak",
        type: "image/jpeg",
      },
      {
        url: "http://usetrak.com/opengraph/twitter-og.jpeg",
        width: 4096,
        height: 4096,
        alt: "trak",
        type: "image/jpeg",
      },
      { url: "http://usetrak.com/opengraph/social-og.jpeg" },
      { url: "http://usetrak.com/opengraph/twitter-og.jpeg" },
    ],
    site_name: "Trak",
  }}
  twitter={{
    handle: "@usetrakcom",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <Navigation />
  <section>
    <div
      class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-16">
      <div class="max-w-2xl mx-auto">
        <time
          class="text-gray-800 text-md"
          datetime={post.data.date.toISOString()}>
          {
            post.data.date.toLocaleDateString("it-IT", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
        <h1 class="text-5xl font-extrabold max-w-lg mt-4">{post.data.title}</h1>
        <h2 class="mt-2 text-xl font-bold text-gray-500">
          {post.data.description}
        </h2>
      </div>
      <div class="max-w-2xl prose mt-8 mx-auto">
        <Content />
      </div>
    </div>
  </section>
  <Footer />
</BaseLayout>
